.row {
    width: 40%;
    margin: auto;
}

a {
    color: #000;
}

#navbar {
    background-color: rgba(153, 151, 151, 0.267);
    font-size: 1.2em;
    width: 100%;
}

#welcome-section, #projects, #contact {
    height: 100vh;
    min-height: 55vh;
}

#welcome-section {
    background-color: #ccccff;
    padding-top: 35vh;
}

#projects {
    padding-top: 15vh;
}

#contact {
    background-color: #99ccff;
    padding-top: 30vh;
} 

.myWord {
    font-family: 'Caveat', cursive;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.myWord p {
    font-size: 1.2em;
}

.icon {
    display: flex;
    justify-content: center;
}

.card-deck {
    margin-bottom: 1em;
}

.card {
    align-self: center;
    margin: 40px 100px;
}

.card img {
    max-height: 20vh;
    /* max-width: 20vw; */
    height: auto;
    width: auto;
}

.card-body {
    padding: 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-title {
    font-weight: normal;
    margin: auto;
}