.row {
    width: 40%;
    margin: auto;
}

a {
    color: #000;
}

#navbar {
    background-color: rgba(153, 151, 151, 0.267);
    font-size: 1.2em;
}

#welcome-section, #contact {
    height: 100vh;
    min-height: 55vh;
    margin: 0 -15px;
}

#welcome-section {
    background-color: #ccccff;
    padding-top: 35vh;
}

#projects {
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: auto;
}

#contact {
    background-color: #99ccff;
    padding-top: 30vh;
} 

.myWord {
    font-family: 'Caveat', cursive;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}
.myWord p {
    font-size: 1.2em;
}

.icon {
    display: flex;
    justify-content: center;
}

.card-deck {
    justify-content: center;
}
.card-deck .card {
    width: 80%;
    height: auto;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
.card img {
    max-width: 460px;
    max-height: 460px;
}
.card-body {
    padding: 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card-title {
    font-weight: normal;
    margin: auto;
}

@media (min-width: 924px) {
    #projects {
        padding-top: 10vh;
    }
}

@media (min-width: 1848px) {
    #projects {
        height: 100vh;
        padding-top: 25vh;
    }
}