/* fix the navbar items to top */
.navbar-brand, #searchForm, .nav-item {
    align-self: flex-start;
}

/* set style of narvbar brand */
.navbar-brand {
    font-size: x-large;
}

/* set one specific padding, so that navbar items won't slightly move when a dropdown menu shows up */
#navbarSupportedContent {
    padding: 10px;
}

/* set logo image */
#header-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* set styles for navbar items */
.nav-link {
    font-size: large;
}
.dropdownItems a {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: medium;
}
.dropdownItems a:hover {
    color: #cbd3da;
}

/* ensure only one dropdown menu collapsed */
/* ??? */

#form {
    max-width: 300px;
}

/* set style for media list */
.media-body {
    margin-top: auto;
    margin-bottom: auto;
}
.media img {
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-bottom: 1em;
}

#aboutUsIntro {
    padding-top: 100px;
}

/* set style for cards */
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.card {
    margin: 10px auto;
    border: solid 1px #ddd;
    width: 100%;
    height: 300px;
}
.card-header {
    background:  rgba(221, 221, 221, 0.45);
    height: 20%;
    text-align: center;
    font-size: larger;
    font-weight: 600;
}
.card-content {
    text-align: center;
}
.card-content .price{
    font-size: 40px;
    font-weight: 500;
}
.card-content .month{
    font-size: 30px;
    font-weight: 400;
    color: rgba(107, 101, 101, 0.8);
}
.card-content .explain {
    padding: 0 30px 10px;
}
.card-content > button {
    justify-content: flex-end;
    margin-top: 20px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .card {
        width: 40%;
    }
    #lastCard {
        margin-left: 5%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .card {
        width: 30%;
    }
    #lastCard {
        margin-left: auto;
    }
}